* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #555555;
}

/* Navigation */

.nav {
  width: 100%;
  height: auto;
  position: fixed;
  padding: 0;
  top: 0;
  font-size: 1.2em;
  display: flex;
  background: white;
  z-index: 1;
}

#logo {
  padding-left: 40px;
  display: inline-block;
  width: 80%;
}

#nav {
  align-content: center;
  top: 0;
  margin: auto;
  display: inline-block;
  text-align: center;
}

#nav ul {
  top: 0;
  padding: 20px;
  margin: auto;
  list-style: none;
  text-align: center;
  display: inline-block;
}
#nav ul li {
  display: inline-block;
  margin: 0 10px;
  font-weight: 300;
}
#nav ul li a {
  padding: 10px 0;
  color: #555555;
  text-decoration: none;
  transition: all 0.2s ease;
}
#nav ul li a:hover {
  color: #c389e8;
}
a.active {
  border-bottom: 2px solid #c389e8;
}

/* Headings */

/* Sections */

section {
  width: 100%;
  padding: 20px;
  background: #fff;
  height: auto;
  text-align: center;
  display: inline-block;
}

.sections section:first-child {
  margin-top: 200px;
}

footer {
  height: 200px;
  background: white;
}

#photo {
  display: inline-block;
  width: 45%;
}
#photo img {
  display: inline-block;
  width: 70%;
  padding: 10px;
}

#bio {
  text-align: justify;
  display: inline-block;
  width: 40%;
  line-height: 2;
  padding-left: 5%;
  font-size: 0.9em;
  font-weight: 300;
}
