<!-- Nav -->
	<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li {% if current[1] == 'index.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/index.html">Home</a></li>
			<!-- <li>
				<a href="">Dropdown</a>
				<ul>
					<li><a href="#">Lorem ipsum dolor</a></li>
					<li><a href="#">Magna phasellus</a></li>
					<li><a href="#">Etiam dolore nisl</a></li>
					<li>
						<a href="">Phasellus consequat</a>
						<ul>
							<li><a href="#">Lorem ipsum dolor</a></li>
							<li><a href="#">Phasellus consequat</a></li>
							<li><a href="#">Magna phasellus</a></li>
							<li><a href="#">Etiam dolore nisl</a></li>
							<li><a href="#">Veroeros feugiat</a></li>
						</ul>
					</li>
					<li><a href="#">Veroeros feugiat</a></li>
				</ul>
			</li> -->
			<!-- <li {% if current[1] == 'blog' %}class='current'{% endif %}><a href="{{ site.baseurl }}/blog">Blog</a></li> -->
			<!-- <li {% if current[1] == 'left-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/left-sidebar.html">Left Sidebar</a></li>
			<li {% if current[1] == 'right-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/right-sidebar.html">Right Sidebar</a></li> -->
			<li {% if current[1] == 'Members.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/Members.html">Members</a></li>
			<li {% if current[1] == 'Resources.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/Resources.html">Resources</a></li>
			<li {% if current[1] == 'Testimonials.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/Testimonials.html">Testimonials</a></li>
			<li {% if current[1] == 'Contact.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/Contact.html">Meeting Information</a></li>
			<li {% if current[1] == 'More.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/More.html">Photos</a></li>

		</ul>
	</nav>
