---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
						<h1><a href="#" id="logo">{{ page.title }}</a></h1>

					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2>Welcome to Northwestern Toastmasters!</h2>
										<h3><i>Northwestern's Public Speaking Club</i></h3>
										<!-- <span class="byline">&hellip; a responsive HTML5 site template freebie by <a href="http://templated.co">TEMPLATED</a>. Released for free under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so use it for whatever (personal or commercial) &ndash; just give us credit!</span> -->
									</header>
									<div class="image123">
    <div>
			<a href=" mailto:arindampaul@u.northwestern.edu?Subject=Sign%20up%20for%20Northwestern%20Toastmasters" class="button alt">Sign Up</a>
    </div><br>
  	<div>
				<a href="https://www.facebook.com/groups/886190904789415"><img src="{{ '/assets/images/facebookIcon.png' | prepend: site.baseurl }}" alt="" height="60" hspace="15" vspace="20" /></a>
			</div>
</div>

								</section>
							</div>

						</div>

				</div>
			</div>

		<!-- Featured -->
			<div class="wrapper style2">
				<section class="container">
					<header class="major">
						<!-- <h2>Welcome to Northwestern Toastmasters</h2> -->
						<span class="byline">The mission of Northwestern Toastmasters is to provide educational methods, programs, materials, and opportunities that enable the individual members of the club to learn and apply the principles and techniques of effective oral communications, leadership, and related subjects.</span>
					</header>
					<!-- <img src="/assets/images/pic13.png" width="100px"> -->
					<div class="row no-collapse-1">
						<section class="4u">
							<a href="#" class="image feature"><img src="{{ site.baseurl }}/../assets/images/pic16.png" title="Test" alt=""></a>
							<!-- <p>Nam in massa. Sed vel tellus. Curabitur sem urna, consequat vel, suscipit in, mattis placerat.</p> -->
						</section>
						<section class="4u">
							<a href="#" class="image feature"><img src="{{ site.baseurl }}/../assets/images/pic03.jpg" alt=""></a>
							<!-- <p>Donec ornare neque ac sem. Mauris aliquet. Aliquam sem leo, vulputate sed, convallis. Donec magna.</p> -->
						</section>
						<section class="4u">
							<a href="#" class="image feature"><img src="{{ site.baseurl }}/../assets/images/pic04.jpg" alt=""></a>
							<!-- <p>Curabitur sem urna, consequat vel, suscipit convallis sem leo, mattis placerat, nulla. Sed ac leo.</p> -->
						</section>

					</div>
				</section>
			</div>

	{{ content }}
	<!-- -->
